<!--start about-->
<div class="about">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
         <img src="./../../assets/about.png" alt="the about photo" class="w-100 animate__animated  animate__backInLeft" >
        </div>
        <div class="col-md-6">
         <div class="header-about animate__animated animate__backInRight">
          <div class="head-about">
            <h2>know more <br> about me</h2>
            <p>graduated from faculty of business information system<br> - BIS, Helwan University (2018).</p>
          </div>
           <table class="table table-light">
             <tbody>
               <tr>
                 <td> <i class="fas fa-user" aria-hidden="true"></i> name</td>
                 <td>muhammed nasser</td>
               </tr>
               <tr>
                 <td> <i class="fas fa-calendar" aria-hidden="true"></i> date of birth</td>
                 <td>march 21, 1996.</td>
               </tr>
               <tr>
                 <td> <i class="fas fa-address-card" aria-hidden="true"></i> addres</td>
                 <td>cairo, egypt</td>
               </tr>
               <tr>
                 <td> <i class="fas fa-phone" aria-hidden="true"></i> phone</td>
                 <td>01064473066</td>
               </tr>
               <tr>
                 <td> <i class="fas fa-envelope" aria-hidden="true"></i> email</td>
                 <td>Muhammednasser14@mail.com</td>
               </tr>
             </tbody>
           </table>
         </div> 
        </div>
      </div>
    </div>    
   </div>
    <!--end about-->
   
