<nav class="navbar navbar-expand-lg navbar-light bg-light w-100">
    <div class="container">
       <a class="navbar-brand" href="#">
         <img src="./../../assets/logo.png" alt="profile logo image" class="src">
         <span class="pl-1">muhammed nasser</span>
       </a>
       <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
         <span class="navbar-toggler-icon"> 
       </span>
       </button>
       <div class="collapse navbar-collapse w-100" id="navbarSupportedContent">
           <ul class="navbar-nav ml-auto">
             <li class="nav-item active">
               <a class="nav-link" routerLink="/home">Home </a>
             </li>
             <li class="nav-item active">
                 <a class="nav-link"  routerLink="/about">about </a>   
             </li>
             <li class="nav-item active">
                 <a class="nav-link" routerLink="/skills">skills</a>
             </li>
             <li class="nav-item active">
                 <a class="nav-link"routerLink="/portfolio">portfolio</a>
             </li>
             <li class="nav-item active">
                 <a class="nav-link" routerLink="/service">service </a>
             </li>
             <li class="nav-item active">
                 <a class="nav-link" routerLink="/contact">contact</a>
             </li>
           </ul>
         </div>
        </div>
       </nav>
       <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
        <path fill="#a2d9ff" fill-opacity="0.6" d="M0,288L26.7,240C53.3,192,107,96,160,74.7C213.3,53,267,107,320,112C373.3,117,427,75,480,74.7C533.3,75,587,117,640,144C693.3,171,747,181,800,165.3C853.3,149,907,107,960,106.7C1013.3,107,1067,149,1120,154.7C1173.3,160,1227,128,1280,101.3C1333.3,75,1387,53,1413,42.7L1440,32L1440,0L1413.3,0C1386.7,0,1333,0,1280,0C1226.7,0,1173,0,1120,0C1066.7,0,1013,0,960,0C906.7,0,853,0,800,0C746.7,0,693,0,640,0C586.7,0,533,0,480,0C426.7,0,373,0,320,0C266.7,0,213,0,160,0C106.7,0,53,0,27,0L0,0Z"></path>
      </svg>