<!--start about-->
<div class="contact">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
         <img src="./../../assets/contact.png" alt="the about photo" class="w-100 animate__animated  animate__backInLeft" >
         <div class="icons text-center">
            <a class="icon " href="#">
              <i class="fab fa-facebook-f"></i>
            </a>
            <a class="icon" href="#">
               <i class="fab fa-instagram" aria-hidden="true"></i>
            </a>
            <a class="icon" href="https://myaccount.google.com/?utm_source=OGB&tab=mk&utm_medium=app">
              <i class="fab fa-google"></i>
            </a>
            <a class="icon" href="https://github.com/Muhammednasser-1996-dev">
              <i class="fab fa-github" aria-hidden="true"></i>
            </a>
            <a class="icon" href="https://www.linkedin.com/in/muhammed-nasser-1809381a6/">
            <i class="fab fa-linkedin" aria-hidden="true"></i>
            </a>
          </div>
        </div>
        <div class="col-md-6">
         <div class="header-about ">
          <div class="head-about">
            <h2>get in <br> touch</h2>
            <p>Call, email, text me — whatever works for you.<br> I'll be here. Let's Talk!</p>
          </div>
           <table class="table table-light">
             <tbody>
               <tr>
                 <td> <i class="fas fa-address-card" aria-hidden="true"></i> addres</td>
                 <td>cairo, egypt</td>
               </tr>
               <tr>
                 <td> <i class="fas fa-phone" aria-hidden="true"></i> phone</td>
                 <td>01064473066</td>
               </tr>
               <tr>
                 <td> <i class="fas fa-envelope" aria-hidden="true"></i> email</td>
                 <td>Muhammednasser14@mail.com</td>
               </tr>
               <tr>
                <td> <i class="fas fa-envelope" aria-hidden="true"></i> freelance</td>
                <td>available</td>
              </tr>
             </tbody>
           </table>
         </div> 
        </div>
      </div>
    </div>    
   </div>
    <!--end about-->
   
