<div class="skills">
  <div class="container">
      <div class="row mb-5 pb-5">
         <div class="col-md-12">
            <div class="skills-about float-left">
                <h2>professional <br> skills</h2>
            </div>
         </div>
         <div class="col-md-6">
                <div class="skill d-flex w-100 mt-5">
                <div class="skill-img"><img src="./../../assets/HTML-Logo.png" alt="photo" class="img w-100"></div>
                    <div class="skill-item w-75">
                    <h6>HTML / HTML5</h6>
                    <div class="bar"><div *ngIf='isAnimated' [@animate] class="bar-body precent-90"></div></div>
                    </div>
                </div>

                <div class="skill d-flex w-100 mt-5">
                    <div class="skill-img"><img src="./../../assets/css3.png" alt="photo" class="img w-100"></div>
                    <div class="skill-item w-75">
                        <h6>CSS / CSS3</h6>
                        <div class="bar"><div *ngIf='isAnimated' [@animate] class="bar-body precent-85"></div></div>
                    </div>
                </div>
    
                <div class="skill d-flex w-100 mt-5">
                    <div class="skill-img"><img src="./../../assets/bootstrap-logo-png-open-2000.png" alt="photo" class="img w-100"></div>
                    <div class="skill-item w-75">
                        <h6>BOOTSTRAP</h6>
                        <div class="bar"><div *ngIf='isAnimated' [@animate] class="bar-body precent-95"></div></div>
                    </div>
                </div>

            <div class="skill d-flex w-100 mt-5">
                <div class="skill-img"><img src="./../../assets/Git-Icon-1788-C.png" alt="photo" class="img w-100"></div>
                <div class="skill-item w-75">
                    <h6>GIT</h6>
                    <div class="bar"><div  *ngIf='isAnimated' [@animate]  class="bar-body precent-80"></div></div>
                </div>
            </div>

            
            <div class="skill d-flex w-100 mt-5">
                <div class="skill-img"><img src="./../../assets/oop.png" alt="photo" class="img w-100"></div>
                <div class="skill-item w-75">
                    <h6>OOP</h6>
                    <div class="bar"><div  *ngIf='isAnimated' [@animate]  class="bar-body precent-70"></div></div>
                </div>
            </div>

            <div class="skill d-flex w-100 mt-5">
                <div class="skill-img"><img src="./../../assets/json.png" alt="photo" class="img w-100"></div>
                <div class="skill-item w-75">
                    <h6>JSON</h6>
                    <div class="bar"><div  *ngIf='isAnimated' [@animate]  class="bar-body precent-70"></div></div>
                </div>
            </div>

          
            <div class="skill d-flex w-100 mt-5">
                <div class="skill-img"><img src="./../../assets/figma.png" alt="photo" class="img w-100"></div>
                <div class="skill-item w-75">
                    <h6>FIGMA Vector</h6>
                    <div class="bar"><div  *ngIf='isAnimated' [@animate]  class="bar-body precent-70"></div></div>
                </div>
            </div>

            <div class="skill d-flex w-100 mt-5">
                <div class="skill-img"><img src="./../../assets/rgex.webp" alt="photo" class="img w-100"></div>
                <div class="skill-item w-75">
                    <h6>REGULAR EXP.</h6>
                    <div class="bar"><div  *ngIf='isAnimated' [@animate]  class="bar-body precent-70"></div></div>
                </div>
            </div>

         </div> 
         <div class="col-md-6 ">
            <div class="skill d-flex w-100 mt-5">
                <div class="skill-img"><img src="./../../assets/js.png" alt="photo" class="img w-100"></div>
                 <div class="skill-item w-75">
                    <h6>JAVASCRIPT</h6>
                    <div class="bar"><div  *ngIf='isAnimated' [@animate]  class="bar-body precent-85"></div></div>
                 </div>
             </div>

             <div class="skill d-flex w-100 mt-5">
                <div class="skill-img"><img src="./../../assets/angular.png" alt="photo" class="img w-100"></div>
                 <div class="skill-item w-75">
                    <h6>ANGULAR</h6>
                    <div class="bar"><div  *ngIf='isAnimated' [@animate]  class="bar-body precent-90"></div></div>
                 </div>
             </div>

             <div class="skill d-flex w-100 mt-5">
                <div class="skill-img"><img src="./../../assets/es6-logo.png" alt="photo" class="img w-100"></div>
                 <div class="skill-item w-75">
                    <h6>ECMAScript 6</h6>
                    <div class="bar"><div  *ngIf='isAnimated' [@animate]  class="bar-body precent-85"></div></div>
                 </div>
             </div>

             <div class="skill d-flex w-100 mt-5">
                <div class="skill-img"><img src="./../../assets/jquery.png" alt="photo" class="img w-100"></div>
                 <div class="skill-item w-75">
                    <h6>JQUERY</h6>
                    <div class="bar"><div  *ngIf='isAnimated' [@animate]  class="bar-body precent-75"></div></div>
                 </div>
             </div>

             <div class="skill d-flex w-100 mt-5">
                <div class="skill-img"><img src="./../../assets/sass.png" alt="photo" class="img w-100"></div>
                 <div class="skill-item w-75">
                    <h6>SASS</h6>
                    <div class="bar"><div  *ngIf='isAnimated' [@animate]  class="bar-body precent-85"></div></div>
                 </div>
             </div>

             <div class="skill d-flex w-100 mt-5">
                <div class="skill-img"><img src="./../../assets/ajax-logo.png" alt="photo" class="img w-100"></div>
                 <div class="skill-item w-75">
                    <h6>AJAX</h6>
                    <div class="bar"><div  *ngIf='isAnimated' [@animate]  class="bar-body precent-70"></div></div>
                 </div>
             </div>

             <div class="skill d-flex w-100 mt-5">
                <div class="skill-img"><img src="./../../assets/Format-blog.png" alt="photo" class="img w-100"></div>
                 <div class="skill-item w-75">
                    <h6>WEBPACK</h6>
                    <div class="bar"><div  *ngIf='isAnimated' [@animate]  class="bar-body precent-75"></div></div>
                 </div>
             </div>

         </div>
         
      </div>
  </div>
</div>