<div class="portfolio">
    <svg class="svg" width="1500" height="1200" viewBox="0 0 1200 889" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M0 100L67 148C133 196 267 102 400 114C533 126 740.5 0 873.5 0C1006.5 0 1067 316 1133 352L1200 388V424H1133C1067 424 933 424 800 424C667 424 533 424 400 424C267 424 133 424 67 424H0V100Z" fill="#0099FF"/>
        <path fill-rule="evenodd" clip-rule="evenodd" d="M0 532L18 574C36 616 73 700 109 742C145 784 201 900 237 888C274 876 298 756 334 726C371 696 405 655 441 649C478 643 504 683 540 713C577 743 639 865 676 841C712 817 744 697 781 649C817 601 842 587 879 599C915 611 953 700 990 706C1026 712 1055 556 1091 544C1127 532 1164 532 1182 532H1200V424H1182C1164 424 1127 424 1091 424C1055 424 1018 424 982 424C945 424 909 424 873 424C836 424 800 424 764 424C727 424 691 424 655 424C618 424 582 424 545 424C509 424 473 424 436 424C400 424 364 424 327 424C291 424 255 424 218 424C182 424 145 424 109 424C73 424 36 424 18 424H0V532Z" fill="#0099FF"/>
        </svg>        
        

 <div class="container">
  <div class="row mb-5">     
    <div class="col-md-12">
        <div class="portfolio-head float-left">
            <h2>welcome to  <br> my portfolio </h2>
        </div>
    </div>
    <div class="col-md-4">
      <h2 class="port-head"><span>01</span></h2>
      <div class="project  rounded shadow overflow-hidden ">
          <div class="overlay d-flex align-items-center justify-content-center">
              <button class="btn btn-primary">
                  <a class=" text-decoration-none text-light" href="https://agrncy-porfolio.netlify.app/">VIEW LIVE</a>
              </button>
          </div>
          <img src="./../../assets/Screen Shot 2020-06-29 at 00.09.19-fullpage.png" alt="project" class="w-100">
      </div>
    </div>

    <div class="col-md-4">
        <h2 class="port-head"><span>02</span></h2>
        <div class="project  rounded shadow overflow-hidden ">
            <div class="overlay d-flex align-items-center justify-content-center">
                <button class="btn btn-primary">
                    <a class=" text-decoration-none text-light" href="https://alex-webdev-portfolio.netlify.app/">VIEW LIVE</a>
                </button>
            </div>
            <img src="./../../assets/port.png" alt="project" class="w-100">
        </div>
    </div>

    <div class="col-md-4">
        <h2 class="port-head"><span>03</span></h2>
        <div class="project  rounded shadow overflow-hidden ">
            <div class="overlay d-flex align-items-center justify-content-center">
                <button class="btn btn-primary">
                    <a class=" text-decoration-none text-light" href="https://creatified-business-template.netlify.app/">VIEW LIVE</a>
                </button>
            </div>
            <img src="./../../assets/temp.png" alt="project" class="w-100">
        </div>
    </div>

    <div class="col-md-4">
        <h2 class="port-head"><span>04</span></h2>
        <div class="project  rounded shadow overflow-hidden ">
            <div class="overlay d-flex align-items-center justify-content-center">
                <button class="btn btn-primary">
                    <a class=" text-decoration-none text-light" href="https://jogn-portfolio.netlify.app/">VIEW LIVE</a>
                </button>
            </div>
            <img src="./../../assets/john.png" alt="project" class="w-100">
        </div>
    </div>

    <div class="col-md-8">
        <h2 class="port-head"><span>05</span></h2>
        <div class="project  rounded shadow overflow-hidden ">
            <div class="overlay d-flex align-items-center justify-content-center">
                <button class="btn btn-primary">
                    <a class=" text-decoration-none text-light" href="https://github.com/Muhammednasser-1996-dev/MoviesHub.git">VIEW LIVE</a>
                </button>
            </div>
            <img src="./../../assets/movies.png" alt="project" class="w-100">
        </div>
    </div>

    <div class="col-md-9 mt-5">
        <h2 class="port-head float-left"><span>06</span></h2>
        <div class="crud  rounded shadow overflow-hidden ">
            <div class="overlay-crud d-flex align-items-center justify-content-center">
                <button class="btn btn-primary">
                    <a class=" text-decoration-none text-light" href="https://bookmark-crud.netlify.app/">VIEW LIVE</a>
                </button>
            </div>
            <img src="./../../assets/crud.png" alt="project" class=" crud-img w-100">
        </div>
    </div>

    <div class="col-md-9 offset-md-3 mb-5 mt-5">
        <h2 class="port-head float-right"><span>07</span></h2>
        <div class="project  rounded shadow overflow-hidden ">
            <div class="overlay d-flex align-items-center justify-content-center">
                <button class="btn btn-primary">
                    <a class=" text-decoration-none text-light" href="https://github.com/Muhammednasser-1996-dev/Angular-CRUD-.git">VIEW LIVE</a>
                </button>
            </div>
            <img src="./../../assets/ang.png" alt="project" class=" w-100">
        </div>
    </div>
  </div>
 </div>
</div>