<!--start home-->
<div class="home"> 
  <div class="container">
   <div class="row">
    <div class="col-md-6">
     <div class="intro animate__animated animate__bounceInLeft">     
     <img src="./../../assets/header.png" alt="" >
     </div>
         <div class="icons text-center">
             <a class="icon " href="#">
               <i class="fab fa-facebook-f"></i>
             </a>
             <a class="icon" href="#">
                <i class="fab fa-instagram" aria-hidden="true"></i>
             </a>
             <a class="icon" href="https://myaccount.google.com/?utm_source=OGB&tab=mk&utm_medium=app">
               <i class="fab fa-google"></i>
             </a>
             <a class="icon" href="https://github.com/Muhammednasser-1996-dev">
               <i class="fab fa-github" aria-hidden="true"></i>
             </a>
             <a class="icon" href="https://www.linkedin.com/in/muhammed-nasser-1809381a6/">
             <i class="fab fa-linkedin" aria-hidden="true"></i>
             </a>
           </div>
   </div>
   <div class="col-md-6">
     <div class="info my-5">
      <h3 class="pt-5">Welcome To My Portfolio</h3> 
      <h1 class="py-3 ">web <span class="type"></span></h1>
      <p>Hi, I'm a creative front‑end developer. I develop compelling designs that spring to life using transition and animations, using the most sophisticated technologies available today for fully interactive and responsive websites and apps</p>       
      <button type="button" class="btn1"><span><a class="text-capitalize text-decoration-none" href="https://drive.google.com/file/d/1Yi8GB-bxzTcNUwwiWa1-M3lyKXtScRol/view?usp=sharing">hire me</a></span></button>
     </div>
   </div>
  </div>
</div>
</div> 
 <!--end home-->
 
